$colorApp: #363335
$colorWall: #868485
$colorDungeon: #faf7f3
$colorFront: #d5d52c
$colorHero: #31625b
$colorEnemy: #c88501
$colorBoss: #b92335
$colorBonus: #7b9f20
$colorWeaporn: #fa4964

$width: 80
$heigth: 80
$boardWidth: 960px
$cellWidth: $boardWidth/$width

body
  background-color: $colorApp
  color: $colorFront

  #container
    margin: 0 auto
    width: $boardWidth

    h1
      width: 500px
      margin: 30px auto

    #characteristics
      list-style: none
      font-family: Geneva, Arial, Helvetica, sans-serif
      font-weight: bold
      li
        float: left
        padding: 10px

    .clear
      clear: both

    #board-wrapper
      position: relative
      height: $cellWidth*30
      overflow: hidden
      margin-top: 30px

      #darkness
        position: absolute
        height: $cellWidth*30
        top: 0
        left: 0
        width: $boardWidth

        #action-area
          position: absolute
          width: $cellWidth*11
          height: $cellWidth*11
          //border: 1px solid red

        .dark
          background-color: $colorApp // comment to switch darkness
          position: absolute
          //border: 1px solid green

        #dark-up
          top: 0
          left: 0
          width: $boardWidth
          height: $cellWidth*10

        #dark-down
          bottom: 0
          left: 0
          width: $boardWidth
          height: $cellWidth*9

        #dark-left
          top: 0
          left: 0
          height: $cellWidth*30

        #dark-right
          top: 0
          right: 0
          height: $cellWidth*30

      #board
        width: $boardWidth
        background-color: #fff
        height: $heigth*$cellWidth
        margin-top: 0
        position: absolute

        #dungeon
          background-color: $colorWall
          width: $boardWidth
          height: $heigth*$cellWidth

          table
            border-collapse:collapse
            border-spacing: 0
            border-width: 0

            td
              width: $cellWidth
              height: $cellWidth
              padding: 0
              border-collapse:collapse
              &.wall
                background-color: $colorWall
              &.room
                background-color: $colorDungeon

        #objects
          position: absolute
          top: 0
          left: 0
          width: $boardWidth
          height: $heigth*$cellWidth

          .object
            position: absolute
            width: $cellWidth
            height: $cellWidth
            border-radius: 50%
            &.enemy
              background-color: $colorEnemy
            &.boss
              background-color: $colorBoss
              width: $cellWidth
              height: $cellWidth
            &.health
              background-color: $colorBonus
            &.weaporn
              background-color: $colorWeaporn

      #hero
        position: absolute
        width: $cellWidth
        height: $cellWidth
        border-radius: 50%
        background-color: $colorHero